body {
  padding-top: 20px;
}

.btngap{	
	padding-right: 5px;	
}

a {
	text-decoration: none;
}

tr
{
	height:30px;
}

.view {
	background-color:white;
	margin:25px;
	padding:25px;"
}