<div style="margin-left:15px;margin-right:15px;">

  <form name="frm" novalidate>

    <label>Peso (kg)</label>
    <br>
    <input type="number" name="peso" ng-model="peso" min="0" max="500" class="form-control" required><br>
    <br/>
  
    <label>Altura (en mts)</label>
    <br>
    <input type="number" name="alturamts" ng-model="alturamts" min="0" max="2.5" step="0.1" class="form-control" required>
  
    <br><br>
  
    <label>El IMC es:</label> <span class="azul">{{imc | number}}</span>
    <br>
    <label>Análisis del resultado:</label>
    <br />
    <span class="azul">{{msg}}</span>
    <br />
    <a href={{url}}>Más Información</a>
    
    <br />
    <br />
    
    <button ng-click="calcular()">Calcular</button>
    <button ng-click="limpiar()">Limpiar</button>

  </form>

</div>